<!DOCTYPE html>
<html>
<head>
	<title>Custom Directives Assignment 3 </title>
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript">
		var module = angular.module('app', []);
		module.factory('myfactory', function () {
				
				var emp_id = 1;
				
				//array that contains details
				var details = [{
					id: 1,
					'name': 'Sukriti',
					'age' : 21,
					'salary' : 50000,
					'department' : 'IT',
					'gender' : 'Female'
				}];
				
				details.save = function (detail) {
					if (detail.id == null) {
						//add new details in detail array
						detail.id = emp_id++;
						details.push(detail);
					} else {
						//find details using id
						for (i in details) {
							if (details[i].id == detail.id) {
								details[i] = detail;
							}
						}
					}
				}
				
				
				
				//returns the details list
				details.list = function () {
					return details;
				}
				return details;
			});
		module.controller('myctrl', function ($scope, myfactory) {
			$scope.details = myfactory.list();
			$scope.saveDetail = function () {
				myfactory.save($scope.newdetail);
				$scope.newdetail = {};
			}
		})
	</script>
	
</head>

<body ng-app="app">
	<div class="container" ng-controller="myctrl">
		<h3> Enter Employee details </h3>
		
		<form class="well">
			<div class="form-group">
			<label for= "Name" class="control-label col-sm-2">Name</label>
			<input class="col-sm-10" type="text" id="name" name="name" required ng-model="newdetail.name" /> <br>
			</div>
			<div class="form-group">
			<label for= "Age" class="control-label col-sm-2">Age</label>
			<input class="col-sm-10" type="number" id="age" name="age" required ng-model="newdetail.age"  /> <br>
			</div>
			<div class="form-group">
			<label for="Salary" class="control-label col-sm-2">Salary</label>
			<input class="col-sm-10" type="number" id="salary" name="salary" required ng-model="newdetail.salary" /> <br>
			</div>
			<div class="form-group">
			<label for="Department" class="control-label col-sm-2">Department</label>
			<input class="col-sm-10" type="text" id="dept" name="dept" required ng-model="newdetail.department" /> <br>
			</div>
			<div class="form-group">
			<label for="Gender" class="control-label col-sm-2">Gender</label>
			<input class="col-sm-10" type="text" id="gender" name="gender" required ng-model="newdetail.gender" /> <br>
			</div>
			<input type="hidden" ng-model="newcontact.id" /> <br>
			<input type="button" value="Save" ng-click="saveDetail()"  />
		</form>
		
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="success">
					<th>Name</th>
					<th>Age</th>
					<th>Salary</th>
					<th>Department</th>
					<th>Gender</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="detail in details">
					<td>{{detail.name}}</td>
					<td>{{detail.age}}</td>
					<td>{{detail.salary}}</td>
					<td>{{detail.department}}</td>
					<td>{{detail.gender}}</td>
				   
				</tr>
			</tbody>
		</table>
	</div>


</head>
<body>

</body>
</html>
